@import url(https://fonts.google.com/specimen/Crimson+Text);


body{
	background-image: url("http://image.blingee.com/images16/content/output/000/000/000/564/426261454_325031.gif");
	text-align: center;
}

h1{
	color: black;
	text-align: center;
}

h2{
	color: black;
	text-align: center;
}

h3{
	color: black;
	text-align: center;
}



button{
	color: purple;
}

